### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [29]:
#### A database is a collection of data whiche it simple to manage and update.
#### Data records or files containing information, including as sales transactions, customer information, financial data, and product information, are often aggregated and stored in computer databases.
#### Any type of data can be stored, maintained, and access 
#### By it we It gathered all kinds of data in one location 
#### so that it can be seen and verified.
#### We know that datas stored in different locations 
#### when when we combined those n a particular place then
#### the database holds on one place.
#### So, we can say that database is well decorated, well organized
#### storing house of data

#### Sql means structured query language where Nosql means not only sql
#### SQL databases are relational where NoSQL databases are not relational
#### SQL databases use structured query language (SQL) for finding info
#### and follws a certain predefined schema. 
#### NoSQL databases are used for unstructured data like 
#### video,audio,text files ,json data etc.
#### It has dynamic schema for these unstructured data
#### SQL databases are vertically scalable and NoSQL databases are horizontally
#### SQL databases are table oriented
#### while NoSQL databases are document based
#### like key-value pair or dic like, graph or like wide columns
#### Sql database is used when multi-row transactions are needed
#### while NoSql is needed for unstructured data where there is no row,column.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [1]:
#### DDL means Data defination language
#### in database we need sql based database when we need to store data in a 
#### structured way . For maintain database we need to create database
#### after creaing it we need to store data in table 
#### so we need table. In this case we use create statement 
#### example ...
import mysql.connector as con
mydb=con.connect(host="localhost",user='root',password='debVIC97')
con_cursor= mydb.cursor()
con_cursor.execute('create database if not exists database_practice_1')

#### drop command is used to drop any table
#### example ...
con_cursor.execute('use database_practice_1')
con_cursor.execute('SHOW TABLES')
show_table=con_cursor.fetchall()
for x in show_table:
    print(x)
con_cursor.execute('drop table stu_informations')

('stu_informations',)

In [4]:
con_cursor.execute('SHOW TABLES')
show_table=con_cursor.fetchall()
show_table

[]

In [5]:
#### The ALTER TABLE command adds, deletes, or modifies columns in a table
#### it also used for adding and deletes various constraints in a table
#### example ...
con_cursor.execute('create database if not exists database_practice_2')
con_cursor.execute('use database_practice_2')
con_cursor.execute('SHOW TABLES')
print(con_cursor.fetchall())
con_cursor.execute("create table if not exists stu_informations(id INT, name VARCHAR(25))")
mydb.commit()
con_cursor.execute("insert into stu_informations values(101,'Victor_Bhat')")
mydb.commit()
con_cursor.execute("alter table stu_informations add address varchar(25)")
con_cursor.execute("select * from stu_informations")
res=con_cursor.fetchall()
for x in res:
    print(x)

[]
(101, 'Victor_Bhat', None)

In [7]:
#### truncate table will delete the inside data of a table
#### but willnot delete table
#### exapmple ...
statement='''insert into stu_informations (id,name) values(102,'Raju'),(103,'Raju Lal');'''
con_cursor.execute(statement)
mydb.commit()
con_cursor.execute("select * from stu_informations")
res=con_cursor.fetchall()
for x in res:
    print(x)

(101, 'Victor_Bhat', None)
(102, 'Raju', None)
(103, 'Raju Lal', None)
(102, 'Raju', None)
(103, 'Raju Lal', None)

In [14]:
con_cursor.execute('truncate table stu_informations')
mydb.commit()
con_cursor.execute("select * from stu_informations")
res=con_cursor.fetchall()
for x in res:
    print(x)
con_cursor.execute('SHOW TABLES')
show_table=con_cursor.fetchall()
show_table

[('stu_informations',)]

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [15]:
#### dml means data manipulatation language
#### insert will insert data into table
#### example ...
con_cursor.execute("create table if not exists stu_informations_2(id INT, name VARCHAR(25))")
mydb.commit()
con_cursor.execute("insert into stu_informations_2 values(101,'Victor_Bhat')")
mydb.commit()
con_cursor.execute("select * from stu_informations_2")
res=con_cursor.fetchall()
res

[(101, 'Victor_Bhat')]

In [18]:
#### update will update table's column information by given rule
#### example ...
con_cursor.execute("alter table stu_informations_2 add result varchar(25)")
con_cursor.execute("update stu_informations_2 set result='3.89' where id=101")
con_cursor.execute("select * from stu_informations_2")
res=con_cursor.fetchall()
res

[(101, 'Victor_Bhat', None, '3.89')]

In [19]:
#### delete will delete records from table
#### exapmle ...
con_cursor.execute("insert into stu_informations_2 values(102,'Vector_Bhat','Bangladesh','3.97')")
con_cursor.execute("select * from stu_informations_2")
res=con_cursor.fetchall()
res

[(101, 'Victor_Bhat', None, '3.89'),
 (102, 'Vector_Bhat', 'Bangladesh', '3.97')]

In [20]:
con_cursor.execute("delete from stu_informations_2 where id=101")
con_cursor.execute("select * from stu_informations_2")
res=con_cursor.fetchall()
res

[(102, 'Vector_Bhat', 'Bangladesh', '3.97')]

### Q4. What is DQL? Explain SELECT with an example.

In [24]:
#### dql means data query language
#### select will go to the specified column for a specified table
#### and retrive the value
####  when we define some condiitions. According to that condition 
#### it will show result
#### example ...
con_cursor.execute("select name from stu_informations_2 where id=102")
sel_name=con_cursor.fetchall()
sel_name
#### here first it goes to stu_informations_2 table
#### after that it retrives the name for id=102
#### here condition is where id=102

[('Vector_Bhat',)]

### Q5. Explain Primary Key and Foreign Key.

In [30]:
#### A primary key generally focuses on the uniqueness of the table. 
#### It assures the value in the specific column is unique.
#### where A foreign key is used to build a relationship between the two tables
#### we can add only one primary key
#### Tables can allow more than one foreign key.
#### The primary key doesn’t allow null values
#### in foreign key we can give multiple null values
#### primary key can identify the record uniquely in the database table
#### A foreign key is a field in the table that is the primary key 
#### in another table.
#### primary value cannot be removed from the parent table
#### here in foreign key restriction cannot be defined as local or tem. tables

In [31]:
mydb.close()

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [27]:
#### A cursor is an object which helps to execute the query 
#### It fetches the records from the database. 
#### The cursor plays a very vital role in executing query. 
#### execute() method accepts a MySQL query as a parameter 
#### and run or executes the given query.

#### example
mydb=con.connect(host="localhost",user='root',password='debVIC97')
con_cursor= mydb.cursor()
con_cursor.execute('create database if not exists database_practice_3')
con_cursor.execute('use database_practice_3')
con_cursor.execute("create table if not exists stu_informations(id INT, name VARCHAR(25))")
con_cursor.execute('SHOW TABLES')
show_table=con_cursor.fetchall()
show_table

[('stu_informations',)]

### Q7. Give the order of execution of SQL clauses in an SQL query.

In [32]:
#### suppose its a query ...
#### select count(*) from pwskills join url_lists 
####  on pwskills.cookie = url_lists.cookie 
####    where pwskills.url ilike '%/article%' 
####     limit 2;

#### order of execution
#### from --> join tables for getting database data
#### where --> filter the data
#### group by --> it actually grouping the columns or aggregate data
#### having --> filter that aggregated result
#### select --> then select those coumns data
#### order by --> manipulate data in asc or desc order
#### limit --> limit the data row according to the limit value given