### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [1]:
#### MongoDB is a document-based NoSQL database 
#### Not only database
#### it isu used for storing high volume data
#### In Sql we use tables and rows which is very common relational database
#### but in MongoDB we use collections and documents. 
#### Documents are data as like as cell value for MySql
#### document is consist of key-value pairs 
#### which are the basic data in MongoDB. 

#### we can categorize database in two type as relational and non-relational
#### MongDB is non relational datbase where it means not only sql
#### the main diference is in storing system
#### in noSql ti stores data in non-tabular format
#### more flexible to save data because in sql we have to first define the 
#### datatypes . we cannot store any data which violates this rule
#### here it is possible in NoSql 
#### here we store data in document
#### we can compare this document based database as combination of different 
#### types of data which is impossible for relational as when we had to
#### first define those types
#### so we can store data or documents in different format

#### NoSql are often used when complex and variety data need to be organized
#### for example, a store might have a datawhich contains all of their
#### information, from name, d address ,order details, cart details 
#### and international card detaills 
#### there formats are not same
#### but every information can be stored in the same document where its
#### not mandatory to to give every field data for every customer
#### it canbe used in dynamic scenarios where we changes document type
#### frequently. we can use it for massive data
#### fore organizing those data and this grows exponentially so needed to be
#### hosted so a hosting environment is required like cloud
#### They offer both security and agility for rapid development of applications
#### in an agile environment. its easy and less complex to 
#### manage than relational databases
#### we can manage data in low costs 
### # along with providng better performance and speed.
#### Non-relational databases often perform faster because a 
#### query doesnâ€™t have to view several tables in order to deliver an answe
#### which is done by relational datasets
#### Non-relational databases are therefore ideal for storing data 
#### that may be changed frequently or for applications that handle 
#### many different kinds of data. 
#### They can support rapidly developing applications 
#### which needs a dynamic database 
#### which changes frequently and for accommodating large amounts of complex
#### unstructured data we need NoSql

### Q2. State and Explain the features of MongoDB.

In [2]:
#### Ad-hoc queries for optimized and real-time analytic
#### An ad hoc query is a short-lived command 
#### the values depend on different variable
#### Each time an ad hoc query is executed, the result may be different
#### depending on the variables in question.
#### Optimizing the way in which ad-hoc queries are 
#### handled can make a significant difference 
#### This is why its a document-oriented, flexible database
#### it is a cloud database platform of choice for enterprise applications 
#### that require real-time analytic which changes frequently
#### it helps the developers to update ad-hoc queries in real time
#### its improves the ligecycle also

#### Indexing appropriately for better query executions
#### we may seen wrong address in indexing. 
#### indexes improves search speed and performance
#### A failureis because of not declaring indices correctly
#### it creates problems with query execution and load balancing.
#### Without the right indices, a database is forced to scan documents 
#### one by one to identify the ones that match the query statement. 
#### But if an appropriate index exists for each query, 
#### user requests can be optimally executed by the server. 
#### MongoDB offers a broad range of indices 

#### Replication for better data availability and stability
#### When data only resides in a single database
#### it is exposed to multiple potential points of failure
#### such as a server crash, service interruptions
#### or even old hardware failure
#### Any of these events happens then getting of your data nearly impossible
#### MongoDB srores data in differenrt servers to avoid this problem
#### it makes many copies and stores those different located servers
#### so that if issue occur in one server then it can be retrived from another

#### Sharding
#### When dealing with particularly large datasets
#### sharding required. as in sharding it splits larger datasets 
#### across multiple distributed collections
#### so that database is distributed properly and executed nicely
#### by that we can avoid problematic and cumbersome queries 
#### Without sharding scaling a growing web application 
#### with millions of daily users is difficult

#### Load balancing
#### Properly distributing millions of client requests 
#### to hundreds or thousands of servers can lead to a noticeable 
#### difference in performance.
#### Fortunately, via horizontal scaling features like replication and shardin
#### MongoDB supports large-scale load balancing.

#### it sucures data with encryption
#### useful for cost effective data grows
#### can connect database from command line

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo

In [4]:

client = pymongo.MongoClient("mongodb+srv://debvic97:debVIC97@cluster0.xkjlaxa.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [5]:
db

Database(MongoClient(host=['ac-5qgx9mp-shard-00-02.xkjlaxa.mongodb.net:27017', 'ac-5qgx9mp-shard-00-01.xkjlaxa.mongodb.net:27017', 'ac-5qgx9mp-shard-00-00.xkjlaxa.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-qfnkf6-shard-0', tls=True), 'test')

In [7]:
data_base_2=db['pwskills_2']

In [8]:
data = {"name" : "victor" , 
        "class" :"data science masters " ,
        "time" : "flexible"}

In [9]:
my_collection_1=data_base_2['table_1']

In [10]:
my_collection_1.insert_one(data)

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [11]:
data_1= {"name" : "Victor" , 
        "address" :"Bangladesh" ,
        "course" : "Data Science"}

In [12]:
my_collection_1.insert_one(data_1)

In [14]:
for i in my_collection_1.find():
    print(i)

{'_id': ObjectId('641a31ff22eb6936048607e3'), 'name': 'victor', 'class': 'data science masters ', 'time': 'flexible'}
{'_id': ObjectId('641a328e22eb6936048607e4'), 'name': 'Victor', 'address': 'Bangladesh', 'course': 'Data Science'}

In [21]:
list_records_1=[ 
        {'_id':'4',
        "name" : "Victor" , 
        "address" :"Bangladesh" ,
        "course" : "Data Science"},
              
        {"_id":'5',
        "name" : "Anup" , 
        "address" :"India" ,
        "course" : "web Development",
        "background":'CSE'},]

In [22]:
my_collection_1.insert_many(list_records_1)
for i in my_collection_1.find():
    print(i)

{'_id': ObjectId('641a31ff22eb6936048607e3'), 'name': 'victor', 'class': 'data science masters ', 'time': 'flexible'}
{'_id': ObjectId('641a328e22eb6936048607e4'), 'name': 'Victor', 'address': 'Bangladesh', 'course': 'Data Science'}
{'_id': '1', 'name': 'Victor', 'address': 'Bangladesh', 'course': 'Data Science'}
{'_id': '2', 'name': 'Anup', 'address': 'India', 'course': 'web Development', 'background': 'CSE'}
{'_id': '4', 'name': 'Victor', 'address': 'Bangladesh', 'course': 'Data Science'}
{'_id': '5', 'name': 'Anup', 'address': 'India', 'course': 'web Development', 'background': 'CSE'}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [24]:
#### find method canbe used for filtering
#### here first we have to give condition in find method with defined syntax
#### suppose here we want to find those data which _id is greater than or equal
#### to 2 .So for that we have to use dollar($) and keyword gte for retrieving 
#### those particular documents

In [31]:
my_collection_2=data_base_2['table_2']

In [32]:
random_data1 = [
    {'_id': '1', 'companyName': 'Google', 'Faculty': 'Sundar'},
    {'_id': '2', 'companyName': 'IBM', 'Faculty': 'Thomas'},
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'Sudhannshu'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'Krish'},
    {'_id': '5', 'companyName': 'pwskills', 'Faculty': 'Sanju'},
]

In [34]:
my_collection_2.insert_many(random_data1)

In [35]:
for i in my_collection_2.find({'_id':{'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'Krish'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'Sanju'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [77]:
#### sort() method
#### The method accepts a document containing a list of fields along 
#### with their sorting order. 
#### To specify sorting order we can give 1 and -1 
#### 1 is used for ascending order while -1 is used for descending order.
#### here we are sorting restaurents borough in ascending order

In [69]:
db.restaurants.insert_many( [
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] );

In [76]:
for i in db.restaurants.find().sort("borough",1):
    print(i)

{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}
{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [78]:
#### delete_one()
#### if we want to delete any first document then use this
#### The deleteOne() method deletes the first document from the collection 
#### that matches the given selection criteria. 
#### It will delete/remove a single document from the collection. 
#### It takes 4 parameters
#### the 1st parameter is the selection criteria and the others are optional.

#### delete_many()
#### In MongoDB the db.collection.deleteMany() method removes all documents 
#### that match the filter from a collection

#### drop()
#### it is used to drop or delete the collection from database
#### actually collection_name in MongoDB is as same as Table in Mysql